.show__container {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.show__wrapper {
  width: 1024px;
  max-width: 100%;
}

.show__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.show__grid__col_1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/shoe.jpeg");
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: flex-end;
}

.show__grid__col_1 h1 {
  margin-left: 10px;
  margin-bottom: 20px;
}

.show__grid__col_2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/office.jpg");
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: flex-end;
}

.show__grid__col_2 h1 {
  margin-left: 10px;
  margin-bottom: 20px;
}

.show__grid__col_3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/dress1.jpeg");
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: flex-end;
}

.show__grid__col_3 h1 {
  margin-left: 10px;
  margin-bottom: 20px;
}

.show__grid__col_4 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/shoes3.jpeg");
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: flex-end;
}

.show__grid__col_4 h1 {
  margin-left: 10px;
  margin-bottom: 20px;
}
