.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  /* width: 100%; */
  max-width: 1024px;
  align-items: flex-start;
  margin: 0 auto;
}

.card__Container {
  --padding: 1rem;
  /* background: white; */
  /* border: 1px solid #777; */
  border-radius: 0.25rem;
  overflow: hidden;
  cursor: pointer;
  /* margin: 0 50px; */
  position: relative;
  line-height: 2rem;
  height: 400px;
}

.card__image {
  overflow: hidden;
}

.card__image > img {
  display: block;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 250px;
}

.card__detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.card__detail1 {
  font-size: 1.2em;
}

.card__icon {
  font-size: 1.6rem;
  color: green;
}
