.footer__container {
    display: flex;
    justify-content: center;
    min-height: 45vh;
    align-items: center;
    line-height: 2rem;
    background-color: #A13E42;
  }
  
  .footer__wrapper {
    width: 100%;
    max-width: 1024px;
    /* height: 5vh;
    display: flex;
    justify-content: center; */
  }

  .footer__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .footer__content > div > h3 {
    color: #FFE4E1;
  }

.footer__content > div > h2 {
    color: #fff;
  }

  /* .footer__content > .footer__one {
    color: green;
  } */

  .footer__content > .footer__one h1 {
    color: #fff;
  }