.footer__container {
    display: flex;
    justify-content: center;
    min-height: 40vh;
    align-items: center;
    line-height: 2rem;
    background-color: rgb(220, 114, 114);
  }
  
  .footer__wrapper {
    width: 100%;
    max-width: 1024px;
    /* height: 5vh;
    display: flex;
    justify-content: center; */
  }

  .footer__content {
      display: flex;
      justify-content: space-between;
  }

  .footer__content > div > h3 {
    color: #fff;
  }

  .footer__content > .footer__one {
    color: green;
  }

  .footer__content > .footer__one h1 {
    color: #fff;
  }