.footer__container {
    display: flex;
    justify-content: center;
    min-height: 55vh;
    align-items: center;
    line-height: 2rem;
    background-color: #A13E42;
  }
  
  .footer__wrapper {
    width: 100%;
    max-width: 1024px;
    /* height: 5vh;
    display: flex;
    justify-content: center; */
  }

  .footer__content {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      line-height: 40px;
  }

  .footer__content > div > h3 {
    /* color: #FFE4E1; */
    color: rgb(220, 114, 114);
    font-size: 1.4em;
  }

.footer__content > div > h2 {
    color: #fff;
  }

  /* .footer__content > .footer__one {
    color: green;
  } */

  .footer__content > .footer__one h1 {
    color: #fff;
  }

  .footer__icon {
    font-size: 1.3em;
    color: #005B99
  }