.search__container {
  display: flex;
  justify-content: center;
}

.search__wrapper {
  width: 100%;
  max-width: 1024px;
  height: 5vh;
  display: flex;
  justify-content: center;
}

.search__wrapper > input {
    width: 50%;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 1rem;
}
