.nav__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  color: #FFE4E1;
  background-color: rgb(220, 114, 114);
}

.nav__wrapper {
  width: 100%;
  max-width: 1024px;
  background-color: rgb(220, 114, 114);
  min-height: 10vh;
  display: flex;
  align-items: center;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 10px;
}

.nav__modal {
  /* border: 1px solid red; */
  position: absolute;
  right: 0;
  top: calc(100% + 0vh);
  display: flex;
  width: 400px;
  max-width: 100%;
  flex-direction: column;
  gap: 5px;
  background-color: grey;
  padding: 1rem;
  margin-right: 135px;
}

.nav__modal__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(220, 114, 114);
  width: 100%;
  height: 55px;
}

.nav__modal > div > div {
  width: 90px;
  height: 55px;
}

.nav__modal > div img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.nav__abs {
  position: relative;
  cursor: pointer;
}

.nav__ul ul {
  display: flex;
  list-style: none;
  font-size: 1em;
  color: inherit;
}

.nav__ul ul li {
  width: 100px;
  color: #FFE4E1;
}

.toggleIcon {
  font-size: 1.5em;
}

.iconContainer {
  display: none;
}

.nav__abs > p {
  position: relative;
}

.len {
  color: green;
  font-weight: 600;
  /* background-color: green; */
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -10px;
  width: fit-content;
  height: fit-content;
  padding: 2px;
}

@media screen and (max-width: 991px) {
  .iconContainer {
    display: block;
  }

  .nav__ul {
    position: absolute;
    top: calc(100% + 0vh);
    left: -100%;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
    width: 100%;
  }
  .nav__ul ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
  }

  .nav__ul ul li {
    margin-block: 0.5em;
  }

  .nav__modal {
    margin-right: 0;
  }

  .nav__ul.active {
    left: 0;
  }
}
