.nav__container {
    display: flex;
    justify-content: center;
    min-height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: rgb(220, 114, 114);
}

.nav__wrapper {
    width: 100%;
    max-width: 1024px;
  }

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}